@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

body {
    background-color: lightblue;
    overflow-x: hidden;
}

.logo {
    margin: 0px;
}

.col-xl-6 {
  width: 50%;
  height: 100%;
}

.search_posts {
  margin: 10px;
  margin-left: 60px;
  display:inline-block;
}

.image_profil{
  display:inline-block;
  margin-bottom: 5px;
}

.profil{
  float: right;
}

.post_profil {
  position: absolute;
  bottom: 10px;
}

.greeting {
  white-space: nowrap ;
}

.accordion {
  min-width: 390px;
}

.circle img{
    background-color: red;
    min-width: 50px;
    min-height:50px;
    width: 50px;
    height:50px;
    margin: 10px;
}

.post_content{
  margin: 0px;
  padding: 0px;
}

.post_title h3{
}

.accordion{
  width: 100%;
}

#pagination_loader {
  width: 50px;
  height: 50px;
  border: 1px solid;
  background-color: red;
  position: center;
}

@media screen and (max-width: 360px) {
.header{
  display: none;
  }
}

@media screen and (max-width: 480px) {
    body {
        background-color: green;
        overflow-x: hidden;
    }
    .col-xl-6 {
      width: 100% !important;
      background-color: blue;
    }

    .search_posts {
      float: right;
      margin-left: 0px;
      width: 50% !important;
    }

    .post_profil {
      width: 50% !important;
      background-color: green;
      position: relative;
      float: right;
      bottom: 0px;
    }

    .profil{
      float: left;
      width: 50% !important;
    }

    .logo {
      float: left;
      width: 40% !important;
    }
    .image_profil{
      margin-bottom: 0px;
    }

    .hide_sx_screen{
      display: none;
      margin-bottom: 0px;
    }

    .mkdown_post{
    }

    .mkdown_input{
      height: 100%;
      background: red;
    }

    .mkdown_output{
      overflow-y: scroll;
    }

    .mkdown_input row{
      background: green;
    }

    .mkdown_input_title{
      width: 100%;
    }

    /* result 50px*/
    .mkdown_post textarea.form-control{
      background: yellow;
      height: calc(100vh - 370px); /* 85 header */
    }

    .post_result{
        background-color: violet;
        height: 0px;
        padding: 0px;
        display: none;
        /*height: calc(40vh - 50px);*/
    }

    .confirm_post{
      height: 0px;
      left: 0;
      bottom: 0;
      background-color: orange;
    }

    .post_btn{
      position: absolute;
      /* Set the fixed height of the footer here */
      height: 60px;
    }
}
