@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

body {
    overflow-x: hidden;
    background: red;
}

.header{
  height: 50px;
}

.logo {
    margin: 0px;
    height: 30px;
    margin: 10px;
    float: left;
}

.search_box{
  display:inline-block;
  position: absolute;
  height: 40px;
  margin: 5px;
}

.search_box_inside{
  height: 40px;
  margin-top: -13px;
}

.col-xl-6 {
  width: 50%;
  height: 100%;
}

.search_posts {
  margin: 10px;
  margin-left: 60px;
  display:inline-block;
}

.image_profil{
  display:inline-block;
  float: right;
  width: 35px;
  height:35px;
  margin: 8px;
}

.profil{
  float: right;
}

.post_profil_group{
  background-color: #f6624c;
  padding: 0px;
  height: 110px; /* 100% ne marche pas */
  width: 33%;
  float: right;
}

.post_profil {
  position: absolute;
  bottom: 10px;
}

.greeting {
  white-space: nowrap ;
}

.accordion {
  min-width: 390px;
}

.vertical_center {
    display: flex;
    align-items: center;
}

.post_content{
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}

.post_title{
  margin: 0px;
  margin-top: 5px;
  line-height: 90%;
}

.accordion{
  width: 100%;
}

#pagination_loader {
  margin-top: 30px;
  color: white;
  display: none;
}

progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
	background: red !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
	background: red !important;
}

#post_confirm_step_1{
    height: 100%;
}

#post_confirm_step_2{
    height: 100%;
}

.mkdown_input_title{
  width: 100%;
}

.post_confirm_bt{
  width: 100%;
  position: absolute;
  bottom: 0;
}

#post_btn{
  position: absolute;
  /* Set the fixed height of the footer here */
  height: 60px;
}

#confirm_post{
  height: 200px;
  left: 0;
  bottom: 0;
  position: relative;
}

.post_cat_colon{
    padding-bottom: 20px;
}

.post_confirm_category_select{
  height: 50px;
  width: 50px;
}

.post_confirm_cancel{

}

.post_confirm_ok{

}

@media screen and (max-width: 400px) {
.header{
  display: none;
  }
}

@media screen and (max-width: 620px) {
    body {
        overflow-x: hidden;
    }

    .post_profil {
      width: 50% !important;
      position: relative;
      float: right;
      bottom: 0px;
    }

    .logo {
      float: left;
    }
    .image_profil{
      margin-bottom: 0px;
    }

    .hide_sx_screen{
      display: none;
      margin-bottom: 0px;
    }

    .mkdown_post{
    }

    .mkdown_input{
      height: 100%;
    }

    .mkdown_output{
      overflow-y: scroll;
    }

    .mkdown_input row{
    }

    /* result 50px*/
    .mkdown_post textarea.form-control{
      height: calc(100vh - 370px); /* 85 header */
    }

    .post_result{
        height: 0px;
        padding: 0px;
        display: none;
        background-color: #eeeeee;
        overflow:hidden;
        margin: 5px;
        /*height: calc(40vh - 50px);*/
    }
}

@media screen and (min-width: 481px) {
    body {
        overflow-x: hidden;
    }

    .parent_post_result{
      overflow: hidden;
    }

    .post_result::-webkit-scrollbar {
        display: none;  // Safari and Chrome
    }

    .post_result{
        height: 200px;
        overflow-y: scroll;
        padding: 0px;
        display: block;
        padding-right: 17px;

        /*height: calc(40vh - 50px);*/
    }

    /* result 50px*/
    .mkdown_post textarea.form-control{
      margin: 10px;
      background-color: blue;
      height: calc(100vh - 570px); /* 85 header */
    }
}

@media screen and (min-width: 781px) {
    body {
        overflow-x: hidden;
    }

    .post_result{
        width: 50%;
        overflow-y: scroll;
        padding: 0px;
        display: block;
        float: left;
        height: calc(100vh - 245px);
    }

    .mkdown_input{
      float: right;
      width: 50%;
    }

    .mkdown_post textarea.form-control{
      height: calc(100vh - 330px);
    }

    #post_btn{
      position: relative;
      /* Set the fixed height of the footer here */
      height: 60px;
    }
}
