@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

html, html * {
  font-family: Roboto;
}

/* Body */
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 200px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* elements TABLE */
table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width:100%;
    min-width: 200px;
}

th, td {
  border: 1px solid lightgray;
  text-align: left;
  padding: 8px;
}

td:not(:last-child){
    white-space: nowrap;
}

td:last-child{
    width: 100%;
}

hr{
    border: 0.5px solid lightgray;
}

.row_30_px{
  width: 30px;
}

.blank_row{
  border-right: 0px solid;
  border-left: 0px solid;
  background-color: #eeeeee;
  text-align: left;
  position: relative;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

/* elements image */
img {
 border: 0 none!important;
 max-width: 100%!important;
 vertical-align: middle!important;
}

/* elements emoji */
.emojione {
    height: 20px;
    width: 20px;
}

/* header */
.header{
  background-color: #f3381c;
  color: white;
}

.btn_post{
  background-color: #b9210a;
  color: white;
  margin: 8px;
  float: right;
}
/* cells */

.img_cell{
    min-width:  45px;
    min-height: 45px;
    width:      45px;
    height:     45px;
    margin-top: -7px;
}

.mdcell{
  height: 60px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-width: 0.1px;
}

.post_date{
  display:inline-block;
  position: relative;
}

.post_owner{
  display:inline-block;
  position: relative;
}
/* sidebar */
#sidebar .toc{
  display: block;
  padding-top: 20px;
}

#footer {
  background-color: #11a200;
  width: 100%;
  margin-top: 40px;
  padding: 40px;
  color: white;
  position: absolute;
  bottom: 0px;
}
