
body.dragOver #file-drop{display:block; background-color: blue;} /* During drag */
body #file-drop{z-index:1000;position:fixed;top:0;left:0;width:100%;height:100%;display:none;background-color: black;} /* No drag */

#renderTags{
  overflow: auto;
  max-height: 160px;
}

.categories{
  overflow-y: scroll;
  height: 130px;
  background: yellow;
}

.render_category{
  display: inline-block;
  margin: 10px;
  width: 90px;
  height: 40px;
  background: red;
}
