{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block html %}
{{super()}}
<html ng-app="mdBurst-api">
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='mdburst.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block body_attribs %}
ng-controller="mdBurst-api-controller"
{% endblock %}


{% block content %}

<div class="jumbotron">
  <div class="container">
    <!-- header -->
    <h1 class="display-3">mdBurst</h1>
  </div>
</div>

{% endblock %}
