{% extends "bootstrap/base.html" %}
{% block title %}mdBurst{% endblock %}

{% block html %}
{{super()}}
<html ng-app="mdBurst-api">
<html ng-app="mdBurst-api">

{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/mdburst.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>

{% endblock %}

{% block navbar %}
<div class="navbar" style="height= 50px">
  <div class="header">
      <div class="row">
        <div class="col-xs-6 col-xm-6 col-xl-6">
          <h1 class="logo">mdBurst</h1>
          <form action="#">
            <div class="search_posts">
              <input type="text">
            </div>
          </form>
        </div> <!-- col 1 -->

        <div class="col-xs-6 col-xm-6 col-xl-6">
          <div class="row">
            <div class="col-xs-4 post_profil">
                {% if url_action is defined %}
                  <a class="btn btn-secondary black" href="{{url_action}}">Back</a>
                  {% else %}
                  <a class="btn btn-secondary black" href="{{url_for('post_mkdown')}}">POST</a>
                  {% endif %}
            </div> <!-- col 2 -->

            <div class="col-xs-8 profil">
                {% for message in get_flashed_messages() %}
                  <p><b>Error</b>: {{ message }}</p>
                {% endfor %}
                {% if current_user.is_authenticated %}
                  <h4 class = "greeting">Hi, {{ current_user.name }}!</h4>
                  <img class="hide_sx_screen image_profil" src={{ current_user.image_profil }} alt="profil picture">
                  <!-- p><a href="{{ url_for('logout') }}">Logout</a></p> -->
                {% else %}
                  <h2>I don't know you!</h2>
                  <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
                  <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
                {% endif %}
            </div> <!-- col -->
          </div> <!-- row 2 -->
        </div> <!-- col-xm-6 -->
      </div> <!-- row 1 -->
  </div> <!-- header -->
</div> <!-- navbar -->
{% endblock %}

{% block content %}
{% endblock %}
