{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-cfb.js"></script>

<script src="{{ url_for('static', filename='helper.js') }}"></script>
<script src="{{ url_for('static', filename='services/homeList.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block content %}
{{super()}}

<div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
            <div class="mkdown_input" class="row" ng-cloak>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                      <h1>OAuth Demo</h1>
                      {% for message in get_flashed_messages() %}
                          <p><b>Error</b>: {{ message }}</p>
                      {% endfor %}
                      {% if current_user.is_authenticated %}
                          <h2>Hi, {{ current_user.nickname }}!</h2>
                          <p><a href="{{ url_for('logout') }}">Logout</a></p>
                      {% else %}
                          <h2>I don't know you!</h2>
                          <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
                          <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
                      {% endif %}

                  <textarea class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-keyup="$event.keyCode === 13 && convert_showdown(main_input)" ng-model="main_input"></textarea>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                  <a ng-href='#here' ng-click='getGraph()' >click me</a>

                    <div id="accordion" class="accordion">
                      <div ng-repeat="post in posts">
                      <div class="border-dark" data-toggle="collapse" data-target={% raw %} "{{ '#collapse-' + $index }}" {% endraw %} data-parent="#accordion">{{"{{ post.name }}"}}</div>
                      <div id={% raw %} "{{ 'collapse-' + $index }}" {% endraw %} class="collapse">
                          <p>{{"{{ post.uid }}"}}</p>
                      </div>
                    </div> <!-- endfor -->
                  </div> <!-- accordion -->

                  <p ng-bind-html="main_input_tohmtl">{{main_input_tohmtl|angular}}</p>

                </div>
            </div>
</div>

{% endblock %}
