{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-cfb.js"></script>

<link href="{{ url_for('static', filename='css/animation.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='helpers/showdown_converter.js') }}"></script>
<script src="{{ url_for('static', filename='services/history.js') }}"></script>
<script src="{{ url_for('static', filename='services/utils.js') }}"></script>
<script src="{{ url_for('static', filename='services/graph.js') }}"></script>
<script src="{{ url_for('static', filename='controllers/homepage.js') }}"></script>
{% endblock %}

{% block body_attribs %}
ng-controller="mdBurst-api-controller"
{% endblock %}

{% block content %}
{{super()}}

<div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
      <div class="row" ng-cloak>
              <div id="accordion" class="accordion">

                    <div ng-repeat="post in posts">
                      <div
                        ng-click    = "getPayloadMD(post.uid, 'collapse-' + $index)"
                        class       = "border-dark mdcell"
                        data-toggle = "collapse"
                        data-target = {% raw %} "{{ '#collapse-' + $index }}" {% endraw %}
                        data-parent = "#accordion">
                              {{ "{{ post.name }}" }}
                        </br> {{ "{{ post.date }}" }}
                        </br> {{ "{{ post.uid }}" }}
                        </br> {{ "{{ post.owner }}" }}
                        <span ng-show="getPayloadMD_tag == 'collapse-' + $index">
                            <i class="glyphicon glyphicon-refresh spinning"></i>
                        </span>
                      </div>
                      <div id={% raw %} "{{ 'collapse-' + $index }}" {% endraw %} class="collapse">
                        <p>{{"{{ post.payload }}"}} {{"{{getPayloadMD_tag}}"}} {{"{{post.uid}}"}} {{"{{getPayloadMD_tag == post.uid}}"}}</p>
                      </div>
                    </div> <!-- endfor -->
              </div> <!-- accordion -->
      </div> <!-- mkdown_input -->
</div> <!-- container -->
{% endblock %}
