{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-cfb.js"></script>

<link href="{{ url_for('static', filename='css/animation.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='helpers/showdown_converter.js') }}"></script>
<script src="{{ url_for('static', filename='services/history.js') }}"></script>
<script src="{{ url_for('static', filename='services/utils.js') }}"></script>
<script src="{{ url_for('static', filename='services/graph.js') }}"></script>
<script src="{{ url_for('static', filename='controllers/homepage.js') }}"></script>
{% endblock %}

{% block body_attribs %}
ng-controller="mdBurst-api-controller"
{% endblock %}

{% block content %}
{{super()}}
<div class="row">
  <div class="col-xs-3 col-xm-3 col-xl-3 side_bar">
    <div class="left_cells">
      <p class="left_cell_title"> Par date</p>
    </div><!-- left_cells -->
  </div><!-- col -->

<div class="col-xs-9 col-xm-9 col-xl-9">
<div class="post_content" ng-cloak> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
              <div id="accordion" class="accordion">
                    <div ng-repeat="post in posts">
                      <div
                        ng-click    = "getPayloadMD(post.uid, 'collapse-' + $index, $index)"
                        class       = "border-dark mdcell"
                        data-toggle = "collapse"
                        data-target = {% raw %} "{{ '#collapse-' + $index }}" {% endraw %}
                        data-parent = "#accordion">
                        <div class="row container-fluid">
                            <div class="col-xs-2 mdcell_col vertical_center picto_bar">
                              <img class="img-rounded img_cell center-block vertical_center" src="{{ url_for('static', filename='img/category/cat_') + '{{post.category}}'+'.png'}}">
                            </div> <!-- col -->
                            <div class="col-xs mdcell_col_2 content_bar">
                                <h3 class="post_title">{{ "{{ post.name }}" }}</h3>
                                <p class="post_owner"> par {{ "{{ post.owner }}" }} </p>
                                <p class="post_date"> le {{ "{{ post.date }}" }}  </p>
                            </div> <!-- col -->
                        </div> <!-- row -->
                      </div>
                      <div id={% raw %} "{{ 'collapse-' + $index }}" {% endraw %} class="collapse">
                        <div ng-bind-html="post.payload"> </div>
                      </div>
                    </div> <!-- endfor -->
              </div> <!-- accordion -->
</div> <!-- container -->
<ul id="pagination_autorefresh" class="pagination">
</ul> <!-- pagination -->
<div id="pagination_loader" class="center-block mdl-spinner mdl-js-spinner is-active"></div>
</div> <!-- pagination_loader -->
</div><!-- col -->
</div><!-- row -->

{% endblock %}
