{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-cfb.js"></script>

<script src="{{ url_for('static', filename='helpers/showdown_converter.js') }}"></script>
<script src="{{ url_for('static', filename='controllers/post.js') }}"></script>
{% endblock %}

{% block body_attribs %}
ng-controller="mdBurst-api-post"
{% endblock %}

{% block content %}
{{super()}}
          <div class="mkdown_post container-fluid"  ng-cloak>
            <div class="row">
              <div class="col post_result">
                <p ng-bind-html="main_input_tohmtl">{{main_input_tohmtl|angular}}</p>
              </div><!-- col -->

              <div class="col mkdown_input">
                <input class="form-inline mkdown_input_title" ng-model="post_title" placeholder="Title">
                <textarea class="form-control ng-valid ng-dirty ng-valid-parse ng-touched mkdown_input_textarea" ng-keyup="$event.keyCode === 13 && convert_showdown(main_input)" ng-model="main_input"></textarea>
                <div class="confirm_post"></div>
                <button type="button" class="btn btn-primary btn-block post_btn" ng-click='postMD(post_title, main_input)'>Post</button>
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- mkdown_input -->
{% endblock %}
