{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-cfb.js"></script>

<script src="{{ url_for('static', filename='helpers/showdown_converter.js') }}"></script>
<script src="{{ url_for('static', filename='controllers/post.js') }}"></script>
{% endblock %}

{% block body_attribs %}
ng-controller="mdBurst-api-post"
{% endblock %}

{% block content %}
{{super()}}
          <div class="mkdown_post container-fluid"  ng-cloak>
            <div class="row">
              <div class="col post_result">
                <p ng-bind-html="main_input_tohmtl">{{main_input_tohmtl|angular}}</p>
              </div><!-- col -->

              <div class="col mkdown_input">
                <input class="form-inline mkdown_input_title" ng-model="post_title" placeholder="Title">
                <textarea class="form-control ng-valid ng-dirty ng-valid-parse ng-touched mkdown_input_textarea" ng-keyup="$event.keyCode === 13 && convert_showdown(main_input)" ng-model="main_input"></textarea>
                <div id="confirm_post">
                  <div id="post_confirm_step_1">
                    <p>choississez une categorie</p>
                      <div ng-repeat="x in range('2') track by $index " class="row">
                          <div ng-repeat="y in range('4') track by $index" class="col-xs-3 post_cat_colon">
                            <div class="post_confirm_category_select center-block" ng-click='category_selected($parent.$index, $index)'>u</div>
                          </div><!-- col -->
                      </div><!-- row -->
                      <div class="btn-group-justified post_confirm_bt">
                        <a href="#" class="btn btn-primary" ng-click='post_next_step(-1)'>cancel</a>
                      </div><!-- post_confirm -->
                  </div><!-- step_1 -->

                  <div id="post_confirm_step_2">
                    <input type="text" placeholder="ajouter tag">
                    <!-- Deletable Chip -->
                    <span class="mdl-chip mdl-chip--deletable">
                      <span class="mdl-chip__text">Deletable Chip</span>
                      <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                    </span>

                    <div class="btn-group-justified post_confirm_bt">
                      <a href="#" class="btn btn-primary" ng-click='post_next_step(-1)'>cancel</a>
                      <a href="#" class="btn btn-primary" ng-click='post_next_step(1)'>confirm</a>
                    </div><!-- post_confirm -->
                  </div><!-- step_2 -->



                </div><!-- confirm_post -->
                <button type="button" class="btn btn-primary btn-block" id="post_btn" ng-click=post_next_step(1)>Post</button>
                <!-- 'postMD(post_title, main_input)' -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- mkdown_input -->
{% endblock %}
